.nav-link {
  margin: 20px 4.5% 20px 4.5% !important;
  text-decoration: none;
  color: rgba(255, 255, 255, .8)
}
.nav-link:hover{
    transition:all .4s ease-in;
    transform:scale(1.5);
    -webkit-transition:all .4s ease-in;
    -moz-transition:all .4s ease-in;
    -ms-transition:all .4s ease-in;
    -o-transition:all .4s ease-in;
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    font-weight: 500;
}
.nav-link:focus{
    font-weight: 500;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    border-bottom: 1.5px solid white;
    color: white;
}
.navBar {
    background-color: transparent !important;
    box-shadow: none !important;
    max-height: 62px;
    overflow: hidden;
    font-family: 'Khula', sans-serif;
  }
